system/system/apex/com.android.vndk.current.apex
system/system/system_ext/apex/com.android.vndk.v29.apex
system/system/product/priv-app/PrebuiltGmsCore/PrebuiltGmsCore.apk
system/system/product/app/webview/webview.apk
